/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
}

main {
    grid-template-columns: 50% 50%;
    display: grid;
    margin: 10% auto;
    width: 1200px;
}
